<a href="https://colab.research.google.com/github/osamudiamenojo/ALX_precourse/blob/main/fifa_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df=pd.read_csv('/content/fifa_21_raw_data.csv')

ID
Name
LongName
photoUrl
playerUrl
Nationality
Age
↓OVA
POT
Club
Contract
Positions
Height
Weight
Preferred Foot
BOV
Best Position
Joined
Loan Date End
Value
Wage
Release Clause
Attacking
Crossing
Finishing
Heading Accuracy
Short Passing
Volleys
Skill
Dribbling
Curve
FK Accuracy
Long Passing
Ball Control
Movement
Acceleration
Sprint Speed
Agility
Reactions
Balance
Power
Shot Power
Jumping
Stamina
Strength
Long Shots
Mentality
Aggression
Interceptions
Positioning
Vision
Penalties
Composure
Defending
Marking
Standing Tackle
Sliding Tackle
Goalkeeping
GK Diving
GK Handling
GK Kicking
GK Positioning
GK Reflexes
Total Stats
Base Stats
W/F
SM
A/W
D/W
IR
PAC
SHO
PAS
DRI
DEF
PHY
Hits

<ipython-input-3-0f0e3188df69>:2: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/fifa_21_raw_data.csv')

In [18]:


# Group the dataset by the country column and count the number of players in each country
country_counts = df['Nationality'].value_counts()

# Take the top 5 countries with the highest player representations
top_5_countries = country_counts.head(5)

# Convert the result to a dictionary
top_5_country = top_5_countries.to_dict()

print(top_5_country)

{'England': 1574, 'Germany': 1178, 'Spain': 1019, 'France': 971, 'Argentina': 861}

1. Convert the height and weight columns to numerical forms

In [10]:
df["Height"] = df["Height"].str.replace(r'[^\d.]', '', regex=True).astype(float)
df["Weight"] = df["Weight"].str.replace(r'[^\d.]', '', regex=True).astype(float)

2. Remove unnecessary newline characters

In [11]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

3. Dropping duplicate rows

In [14]:

df.drop_duplicates(subset="Name", keep="first", inplace=True)

4. Split longname into first and last name

In [15]:
name_split = df["LongName"].str.split(' ', n=1, expand=True)

# Create new "FirstName" and "LastName" columns
df["FirstName"] = name_split[0]
df["LastName"] = name_split[1]

5. Handling missing values by filling with mean for only numerical columns

In [16]:

numerical_columns = df.select_dtypes(include=['number'])
print(numerical_columns)

# Fill missing values in numerical columns with the mean of the respective columns
numerical_columns.fillna(numerical_columns.mean(), inplace=True)

# Update the original DataFrame with the filled values
df.update(numerical_columns)

           ID  Age  ↓OVA  POT  Height  Weight  BOV  Attacking  Crossing  \
0      158023   33    93   93   170.0    72.0   93        429        85
1       20801   35    92   92   187.0    83.0   92        437        84
2      200389   27    91   93   188.0    87.0   91         95        13
3      192985   29    91   91   181.0    70.0   91        407        94
4      190871   28    91   91   175.0    68.0   91        408        85
...       ...  ...   ...  ...     ...     ...  ...        ...       ...
18974  247223   21    47   55   178.0    66.0   49        145        23
18975  258760   17    47   67   175.0    65.0   51        211        38
18976  252757   18    47   65   179.0    74.0   49        200        30
18977  243790   20    47   57   175.0    69.0   48        215        45
18978  252520   21    47   57   188.0    75.0   50        163        40

       Finishing  ...  GK Positioning  GK Reflexes  Total Stats  Base Stats  \
0             95  ...              14            8         2231         466
1             95  ...              14           11         2221         464
2             11  ...              90           90         1413         489
3             82  ...              10           13         2304         485
4             87  ...              15           11         2175         451
...          ...  ...             ...          ...          ...         ...
18974         26  ...              14           11         1186         255
18975         42  ...               6            8         1315         281
18976         34  ...               6           11         1338         285
18977         52  ...               8           12         1243         271
18978         18  ...              10           12         1215         265

       PAC  SHO  PAS  DRI  DEF  PHY
0       85   92   91   95   38   65
1       89   93   81   89   35   77
2       87   92   78   90   52   90
3       76   86   93   88   64   78
4       91   85   86   94   36   59
...    ...  ...  ...  ...  ...  ...
18974   64   28   26   38   48   51
18975   64   40   48   49   35   45
18976   63   39   44   46   40   53
18977   58   49   41   49   30   44
18978   62   22   39   42   45   55

[17920 rows x 56 columns]